*{
            box-sizing: border-box;
            font-size: 23px;
            
}
body {
            font-family: "Poppins", sans-serif;
            --color1: #FFF ;
            --color2:  #688dc4;
            background-color:#E7EEF4;
}
        /*general nav*/
.nav-bar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #7895CB;
    padding: 12px 20px;
    z-index:2px;
    margin:0px;
    
}

/* Styles for the logo */
.logo img {
    width: 40px;
}
.nav-bar img{
    width:100px;
    height:60px;
    margin-left:40px;
    
}

/* Styles for the main menu */
.menu {
    display: flex;
    margin-right: 0px;
    position: relative; 
    margin-left:85px;
}

.menu li {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right:40px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    /*transition: 0.15s ease-in-out;*/
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.menu li #login_user{
    width:10px;
    height:10px;
}

/* Styles for the submenu */
.submenu {
    left: 0;
    right:0;
    z-index:5;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index:5;
    list-style: none; 
    padding:0; 
    background-color: #D8E5F2; 
    
    /*transition: 0.15s ease-in-out;*/
    max-height: 150px; /* Set a maximum height for the submenu */
    /*overflow-y: auto;*/
    scrollbar-width: thin; 
    scrollbar-color: var(--color2) var(--color1);

    }

    .submenu::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
    }
    
    .submenu::-webkit-scrollbar-thumb {
        background-color:white; /* Color of the scrollbar thumb */
    }

.submenu li {
    float: none;
    width: 100%;
    list-style: none;
    padding-top: 6px;
    background-color:#7895CB;
    
}
.menu li:hover .submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    width:100px;
    background-color:#7895CB ;
    color:white;
    text-align:center;

}
.menu li:hover a{
    color:white;
    
}
.submenu li:hover {
    background-color: #7895CB; 
    border:2px solid white;
}
.submenu li:hover .submenu li a{
    color:black;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:white; /* underline effect*/
    transition: 0.15s ease-in-out;
}
.drop_list{
    text-align:center;
    padding:0px;
}

.menu li:hover a::after {
    width: 100%;
}
.submenu li a::after {
    content: none; 
}

/* Styles for the menu toggle icons */
.open-menu, .close-menu {
    background-color:#7895CB;
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

/* Hide the checkbox input */
#check {
    display: none;
}

/* Media query for mobile responsiveness */
@media (max-width: 800px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
        font-size: 15px;
        text-align:center;
    }

    /* Display the menu toggle icons */
    .open-menu, .close-menu {
        display: block;
    }

    /* Show the menu when the checkbox is checked */
    #check:checked ~ .menu {
        right: 0;
    }
    .submenu {
        width:auto;
        background-color:#E7EEF4;
        overflow-y: auto;
        max-height: 150px;
        overflow-x:hidden;
        scrollbar-width: thin; 
        scrollbar-color: var(--color2) var(--color1);
        }
        .submenu::-webkit-scrollbar {
            width: 6px; /* Width of the scrollbar */
            
        }
        
        .submenu::-webkit-scrollbar-thumb {
            background-color: var(--color1); /* Color of the scrollbar thumb */
        }
    
    .submenu li {
        float: none;
        width: 150px;
        list-style: none;
        padding-top: 6px;
        background-color:#7895CB ;
        color:black;
        
    }
    .menu li:hover .submenu {
        opacity: 1;
        visibility: visible;
        top: 100%;
        width:150px;
        height:auto;
        background-color:#7895CB ;
    
    }
    .menu li:hover .submenu a{
        color:white;
        
    }
    menu li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color1);
        transition: 0.15s ease-in-out;
    }

    .menu li:hover a::after {
        width: 100%;
    }
    .submenu li a::after {
        content: none; 
    }
}
        

        /*nav a {
            text-decoration: none;
            color: #fff;
            margin: 0 15px;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: #ffd700;
        }*/

        .Main{
            position: relative;
            margin-top: 50px;
            display: flex;
            flex-direction: row;
        }

        .container{
            width: 90%;
            max-width: 1000px;
            display: flex;
            flex-direction: column;
        }

        .upper{
            width: 500px;
            height: 300px;
            background: url('./img/IMG_4237.jpeg') no-repeat center / cover;
        }

        .lowerleft{
            width: 200px;
            height: 100px;
            background: url('./img/IMG_4240.jpeg') no-repeat center/cover;
            margin: -40px 50px;
        }

        .lowerright{
            width: 300px;
            height: 150px;
            background: url('./img/IMG_4239.jpeg') no-repeat center/cover;
            margin: -100px 300px;
        }

        .right{
            width: 600px;
            height: 360px;
            margin-left: -350px;
        }

        .welcome{
            color: blueviolet;
            text-align: center;
        }

        .abtTitle{
            color :black;
            bottom: -10px;
            border-bottom: 1.5px solid orangered;
            margin-left: 10%;
        }

        p{
            text-align: left;
            padding: 20px;
        }

        .left1{
            width: 600px;
            height: 360px;
            padding-top: 50px ;
        }


        .rightupper{
            width: 600px;
            height: 360px;
            background:  url('./img/IMG_4243.png') no-repeat center/ cover;
            margin-left: 50px;
        }

        .rightlower{
            width: 100px;
            height: 100px;
            background: url('./img/IMG_4244.png') no-repeat center / cover;
            margin: -140px 300px;
        }

        .container2{
            max-width: 100%;
            background-color: #ccc;
            padding: 20px;
            text-align: center;
            border-radius: 6px;
        }

        .con2p{
            text-align: center;
        }

        .mission{
            position: relative;
        }

        .overlay {
            max-width: 100%;
            position: absolute;
            top: 25%;
            right: 35%;
            background-color: rgba(173, 216, 230, 0.5);
            padding: 20px;
            border-radius: 3px;
            text-align: center;
        }

        .missionPic{
            display: block;
            width: 100%;
            height: 550px;
            margin: 10px 0;
            border-radius: 6px;
        }

        .team{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .teamTitle{
            text-align: center;
            display: inline-block;
            bottom: -10px;
            border-bottom: 1.5px solid orangered;
        }

        .div-container {
            min-width: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 5px;
        }

        .content-div {
            flex: 1;
            background-color: #ecf0f1;
            padding: 10px;
            margin: 5px;
            border-radius: 6px;
            text-align: center;
        }

        .teamMembers{
            width: 100px;
            border-radius: 50%;
            margin-left: 70px auto;
        }

        .values{
            position: relative;
        }

        .valuesPic{
            display: block;
            width: 100%;
            height: 550px;
            border-radius: 6px;
        }

        .overlayValues{
            max-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 550px;
            background-color: rgba(173, 216, 230, 0.5);
            padding: 50px;
            border-radius: 3px;
        }

        .valuesH{
            margin-left: 20px;
        }