*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 

}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2:  #688dc4;
    background-color:#E7EEF4;
   

}
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/*general nav*/
.nav-bar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #7895CB;
    padding: 12px 20px;
    z-index:5;
    position:fixed;
    width:100%;
    
}

/* Styles for the logo */
.logo img {
    width: 40px;
}
.nav-bar img{
    width:100px;
    height:60px;
    margin-left:40px;
    
}

/* Styles for the main menu */
.menu {
    display: flex;
    margin-right: 0px;
    position: relative; 
    margin-left:85px;
}

.menu li {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right:40px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    /*transition: 0.15s ease-in-out;*/
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

/* Styles for the submenu */
.submenu {
    left: 0;
    right:0;
    z-index:5;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index:5;
    list-style: none; 
    padding:0; 
    background-color: #D8E5F2; 
    
    /*transition: 0.15s ease-in-out;*/
    max-height: 150px; /* Set a maximum height for the submenu */
    /*overflow-y: auto;*/
    scrollbar-width: thin; 
    scrollbar-color: var(--color2) var(--color1);

    }

    .submenu::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
    }
    
    .submenu::-webkit-scrollbar-thumb {
        background-color:white; /* Color of the scrollbar thumb */
    }

.submenu li {
    float: none;
    width: 100%;
    list-style: none;
    padding-top: 6px;
    background-color:#7895CB;
    
}
.menu li:hover .submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    width:100px;
    background-color:#7895CB ;
    color:white;
    text-align:center;

}
.menu li:hover a{
    color:white;
    
}
.submenu li:hover {
    background-color: #7895CB; 
    border:2px solid white;
}
.submenu li:hover .submenu li a{
    color:black;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:white; /* underline effect*/
    transition: 0.15s ease-in-out;
}
.drop_list{
    text-align:center;
    padding:0px;
}

.menu li:hover a::after {
    width: 100%;
}
.submenu li a::after {
    content: none; 
}

/* Styles for the menu toggle icons */
.open-menu, .close-menu {
    background-color:#7895CB;
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

/* Hide the checkbox input */
#check {
    display: none;
}

/* Media query for mobile responsiveness */
@media (max-width: 800px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
        font-size: 15px;
        text-align:center;
    }

    /* Display the menu toggle icons */
    .open-menu, .close-menu {
        display: block;
    }

    /* Show the menu when the checkbox is checked */
    #check:checked ~ .menu {
        right: 0;
    }
    .submenu {
        width:auto;
        background-color:#E7EEF4;
        overflow-y: auto;
        max-height: 150px;
        overflow-x:hidden;
        scrollbar-width: thin; 
        scrollbar-color: var(--color2) var(--color1);
        }
        .submenu::-webkit-scrollbar {
            width: 6px; /* Width of the scrollbar */
            
        }
        
        .submenu::-webkit-scrollbar-thumb {
            background-color: var(--color1); /* Color of the scrollbar thumb */
        }
    
    .submenu li {
        float: none;
        width: 150px;
        list-style: none;
        padding-top: 6px;
        background-color:#7895CB ;
        color:black;
        
    }
    .menu li:hover .submenu {
        opacity: 1;
        visibility: visible;
        top: 100%;
        width:150px;
        height:auto;
        background-color:#7895CB ;
    
    }
    .menu li:hover .submenu a{
        color:white;
        
    }
    menu li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color1);
        transition: 0.15s ease-in-out;
    }

    .menu li:hover a::after {
        width: 100%;
    }
    .submenu li a::after {
        content: none; 
    }
}
.whole{
    padding-top:120px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:30px;
}
.progress-bar-place{
    margin-left:60px;
    margin-right:60px;
}
.step-wizard {   
    width: 100%;
    margin-left:60px;
    margin-right:60px;
}
.step-wizard-list{
    color: #333;
    list-style-type: none;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index:1;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 170px;               /*max-width*/
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #21d4fd;  
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
   background: #21d4fd; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}   
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
/* finished background all blue */
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #21d4fd;
}  
.current-item .progress-count{
    color: #21d4fd;
} 


/* Responsive Css  */

@media (max-width: 850px) {
    .progress-bar-place{
        margin-left:0px;
        margin-right:0px
    }
    .step-wizard{
        min-width:300px;
        margin-left:20px;
        margin-right:20px;
    }
    .step-wizard-item{
        width:100%;
    }
    .step-wizard-list{
        width:100%;
    }
    .step-wizard-item + .step-wizard-item:after{
       max-width:100%;
    }
}

.div_2_col{
   margin-top:50px;
   display :flex;
   flex-direction:row;
   justify-content:space-between;
   margin-left:60px;
   margin-right:60px;
   max-width:6500px;
   margin-bottom:50px;
}

.info_place{
    width:600px;
    height:660px;
    background-color:#D8E5F2;
}
.title1{
    background-color:#7895CB;
    color:white;
    align-items:center;
    padding:20px;
}
.title1 h5{
    color:white;
    text-align:center;
}


.user_info{
    display:flex;
    flex-direction:column;
    justify-content:center;

}


@media (max-width: 850px){
    .div_2_col{
        flex-direction:column;
        justify-content:space-between;
        margin-left:0px;  /*need*/
        margin-right:0px; 
        margin-top:30px;
        
    }
    .info_place{
        width:500px;
        height:650px;
        background-color:#D8E5F2;
        margin-left:60px;
    }
    .pay_display{
        margin-top:30px;
        max-width:500px;
        height:auto;
        margin-left:60px;
    }
    .payment{
        width:600px;
        height:auto;
        padding-left:80px;
        margin-top:50px;
        text-align:center;
    }
    
}

@media (max-width: 500px){
    .div_2_col{
        flex-direction:column;
        justify-content:center;  
        margin-left:0px;
        margin-right:0px; 
        margin-top:30px; 
    }
    .info_place{
        width:250px;
        height:650px;
        background-color:#D8E5F2;
    }
    .pay_display{
        margin-top:30px;
        width:250px;
        height:auto;
    }
    .payment{
        width:250px;
        height:auto;
        padding-left:30px;
        text-align:center;
       
    }
    .pays{
        padding:0;
        margin:0;
    }
    
    
}
@media (max-width: 300px){
    .div_2_col{
        margin-left:-50px;
        margin-right:0px; 
        margin-top:30px; 
    }
    .info_place{
        width:150px;
        height:650px;
        background-color:#D8E5F2;
    }
    .pay_display{
        margin-top:30px;
        width:150px;
        height:auto;
    }
    .payment{
        width:150px;
        height:auto;
        padding-left:30px;
        text-align:center;
       
    }
    
    
}

/*user info*/
.user_info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:20px;
    padding:20px;
}



th{
    font-weight:bold;
    width:200px;
    height:20px;
    text-align:center;
    font-size:17px;
    padding:5px;
}
td{
    width:150px;
    height:20px;
    text-align:left;
    font-size:17px;
    padding:5px;
}
tr{
    border-spacing:20px;
    margin-bottom:100px;
}
.line{
    border-top: 2px dashed grey;
    padding-top:20px;
}
/*.btn_two{
   
}*/
.button {
    cursor:pointer;
    text-align: center;
    border: 0; 
    margin-top:30px;
    background-color: #F18D65;
    /*border-radius: 5px; */
    height: 50px;
    width:100%;
  }


.button{
    text-decoration: none;
    color: black;
    font-weight:bold;
  }

@media (max-width: 850px){
.button{
       /* width:100;*/
        height:50px;
    }
}

.payment{
    width:400px;
    height:auto;
    margin-left:50px;
    text-align:center;
}
.pays{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    justify-content:flex-start;
    margin-top:30px;
}
.pay_row{
    display:flex;
    flex-direction:row;
    flex-grow:1;
    justify-content:space-between;
    margin-bottom:40px;
    
}
.pay_row a, h6{
    text-decoration:none;
    
}
.pay1 {
    padding:10px;
    background-color:#E7EEF4;
    height: 60px;
    width: 150px;
    display:flex;
    flex-direction:row;
    flex-grow:1;
    justify-content:center;
    
    
}

.pay1 h6 {
        color: black; 
        margin-left:20px;
        text-decoration:none;     
}

.pay1 img {
        border-radius:5px;
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: contain;
}


a:hover{
   border:3px solid #7895CB;
   text-decoration:none;

}



/*footer*/
.footerb{
    background-color: #4c4d4b;
    
}
.link_info{
    text-decoration:none;
    color:white;
 }
 .col a:hover {
     color:#7895CB;
     text-decoration:underline;
     text-decoration-color: white;
 
 }
.social {
    font-size: 30px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.linkIcn {
    padding: 10px 30px;
    color: white;
}
.copyright{
    font-size: 10px;
}
.custom-bg-gray {
    background-color: #4c4d4b;
    /*margin-top: 30px;*/
    
}
.container-fluid{
    margin-top: 20px;
}
.row{
    margin-top: 30px; 
} 
.custom-border {
    border-bottom: 1px solid #ffffff; 
}
