*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  body {
    background-color:#E7EEF4;
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2:  #688dc4;
   
  }
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  
  
/*general nav*/
.nav-bar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #7895CB;
  padding: 12px 20px;
  z-index:2px;
  
}

/* Styles for the logo */
.logo img {
  width: 40px;
}
.nav-bar img{
  width:100px;
  height:60px;
  margin-left:40px;
  
}

/* Styles for the main menu */
.menu {
  display: flex;
  margin-right: 0px;
  position: relative; 
  margin-left:85px;
}

.menu li {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-right:40px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  /*transition: 0.15s ease-in-out;*/
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

/* Styles for the submenu */
.submenu {
  left: 0;
  right:0;
  z-index:5;
  opacity: 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index:5;
  list-style: none; 
  padding:0; 
  background-color: #D8E5F2; 
  
  /*transition: 0.15s ease-in-out;*/
  max-height: 150px; /* Set a maximum height for the submenu */
  /*overflow-y: auto;*/
  scrollbar-width: thin; 
  scrollbar-color: var(--color2) var(--color1);

  }

  .submenu::-webkit-scrollbar {
      width: 10px; /* Width of the scrollbar */
  }
  
  .submenu::-webkit-scrollbar-thumb {
      background-color:white; /* Color of the scrollbar thumb */
  }

.submenu li {
  float: none;
  width: 100%;
  list-style: none;
  padding-top: 6px;
  background-color:#7895CB;
  
}
.menu li:hover .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width:100px;
  background-color:#7895CB ;
  color:white;
  text-align:center;

}
.menu li:hover a{
  color:white;
  
}
.submenu li:hover {
  background-color: #7895CB; 
  border:2px solid white;
}
.submenu li:hover .submenu li a{
  color:black;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color:white; /* underline effect*/
  transition: 0.15s ease-in-out;
}
.drop_list{
  text-align:center;
  padding:0px;
}

.menu li:hover a::after {
  width: 100%;
}
.submenu li a::after {
  content: none; 
}

/* Styles for the menu toggle icons */
.open-menu, .close-menu {
  background-color:#7895CB;
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

/* Hide the checkbox input */
#check {
  display: none;
}
#login_user{
  width:40px;
  height:40px;
  border-radius:50%;
  align-items:center;
  margin-right:0px;
  margin-left:0px;
}
#login_user:hover{
  text-decoration: none;
}

/* Media query for mobile responsiveness */
@media (max-width: 800px) {
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--color2);
      transition: all 0.2s ease-in-out;
  }

  .menu li {
      margin-top: 40px;
  }

  .menu li a {
      padding: 10px;
      font-size: 15px;
      text-align:center;
  }

  /* Display the menu toggle icons */
  .open-menu, .close-menu {
      display: block;
  }

  /* Show the menu when the checkbox is checked */
  #check:checked ~ .menu {
      right: 0;
  }
  .submenu {
      width:auto;
      background-color:#E7EEF4;
      overflow-y: auto;
      max-height: 150px;
      overflow-x:hidden;
      scrollbar-width: thin; 
      scrollbar-color: var(--color2) var(--color1);
      }
      .submenu::-webkit-scrollbar {
          width: 6px; /* Width of the scrollbar */
          
      }
      
      .submenu::-webkit-scrollbar-thumb {
          background-color: var(--color1); /* Color of the scrollbar thumb */
      }
  
  .submenu li {
      float: none;
      width: 150px;
      list-style: none;
      padding-top: 6px;
      background-color:#7895CB ;
      color:black;
      
  }
  .menu li:hover .submenu {
      opacity: 1;
      visibility: visible;
      top: 100%;
      width:150px;
      height:auto;
      background-color:#7895CB ;
  
  }
  .menu li:hover .submenu a{
      color:white;
      
  }
  menu li a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: var(--color1);
      transition: 0.15s ease-in-out;
  }

  .menu li:hover a::after {
      width: 100%;
  }
  .submenu li a::after {
      content: none; 
  }
}


  .travel {
    margin: 0;
    padding: 0;
    background-image: url(images/cargo_bg1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Set the background size to cover */
    background-attachment: fixed; /* Ensure the background stays fixed while scrolling */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #fff;
    flex-direction: column;
    flex: 1;
    margin-top: -50px;
    padding-top: -30px;
}

.top-box {
    background-color: #688dc4;
    padding: 3px;
    text-align: center; 
    width: 30%;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    height: 50vh;
}

  
  .booking-form {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
  }
  

.glass-container {
    background-color: rgba(53, 52, 52, 0.8);
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    width: 40%;
    height: 70%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    justify-content: center;
}

  
  .form-group {
    margin-bottom: 15px;
  }
  

  
  select, input {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
  }
 
  
.button{
   width: 70%;
}
.glass-container p {
    font-size: 12px;
}

.glass-container h4 {
    font-weight: bold;
    font-family: Lalezar;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 0px;
}

.column select {
  display: block; /* Make select boxes appear as block elements */
  width: 100%; /* Set width to 100% for equal alignment */
  margin-bottom: 20px; /* Adjust margin as needed */
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Border style */
  box-sizing: border-box;
}